body {
font-family: 'Fuzzy Bubbles', cursive;
color: #2a75bb;


  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container{
  max-width: 900;
  margin: 0 2rem;
}


code {

  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cursor{
  cursor: pointer;
}
